:root {
  --bg-elements-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
}
#root {
  text-align: center;
}

.light-mode {
  --bg-elements-color: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
}

.bg-element {
  background-color: var(--bg-elements-color);
}

.bg-main-color {
  background-color: var(--bg-color);
}

.custom-text-white {
  color: var(--text-color);
}

input {
  padding-left: 110px;
}
.search-icon {
  top: 20%;
}

.dropdown-options {
  list-style: none;
  text-align: left;
}

.dropdown-options li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dropdown-options li:hover {
  background-color: var(--bg-color);
}
.dropdown-display {
  cursor: pointer;
}

.back-btn {
  width: 50%;
  max-width: 150px;
  cursor: pointer;
}

.all-countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.all-countries img{
 aspect-ratio: 16/9;
}




@media (width > 768px) {
  .all-countries {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
  }
  .dropdown{
    width: 100%;
  }
  form{
    width: 100%;
  }
}

@media (width > 1024px) {
  .all-countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1440px) {
  .all-countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(width > 1200px){
  .each-country img{
    aspect-ratio: 16/9;
    max-width: 600px;
    }
    
}